<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">
    <style>
      img {
        object-fit: contain;
        object-position: center center;
      }
      table {
        border-collapse: collapse;
      }
      td {
        padding: 5px;
      }
      .summary {
        columns: 2;
      }
      div[font-family="header"] {
        font-size: 68px;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
